<!DOCTYPE html>
<html lang="en">

<head>
<title> 医院预约挂号系统</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="static/login/css/camera.css" />
<link rel="stylesheet" href="static/login/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="static/login/matrix-login.css" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<script src="js/jquery.min.js"></script>

<script type="text/javascript" src="../axios/vue.js"></script>
<script type="text/javascript" src="../axios/axios.min.js"></script>
<script type="text/javascript" src="../axios/qs.js"></script>
<script type="text/javascript" src="../layer/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../layer/layer.js"></script>

</head>
<body>

<div style="width:100%;text-align: center;margin: 0 auto;position: absolute;border-radius:5px" id="app">
		<div id="loginbox" style="border-radius:6px">
			<form action="" method="post" name="loginForm"
				id="loginForm">
				<div class="control-group normal_text">
					<h3>
						医院预约挂号系统
					</h3>
				</div>
				<div class="control-group">
					<div class="controls">
						<div class="main_input_box">
							<div class="add-on bg_lg" style="width:16%;float: left;height:37px;">
							<i><img src="static/login/user.png" /></i>
							</div>
							<div style="width:80%;float: left;"><input style="width:100%;margin:0px;padding:0px;height:37px;padding-left:5px;" type="text" v-model="username" id="loginname" value="" placeholder="请输入用户名" /></div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<div class="main_input_box" >
							<div class="add-on bg_ly" style="width:16%;float: left;height:37px;">
							<i><img src="static/login/suo.png" /></i>
							</div>
							<div style="width:80%;float: left;"><input style="width:100%;margin:0px;padding:0px;height:37px;padding-left:5px;"  type="password" v-model="userpwd" id="password" placeholder="请输入密码" value="" /></div>
						</div>
					</div>
				</div>
				

				<div class="form-actions" >
					<div style="width:100%;height:36px;">

						

						<div class="pull-right" style="padding-right:3%;width:15%;float:left;">
							<a href="javascript:;" @click="quxiao()" class="btn btn-success">取消</a>
						</div>
						<div class="pull-right" style="width:15%;float:left;">
							<a @click="login();"  class="flip-link btn btn-info" id="to-recover">登录</a>
						</div>

					</div>
				</div>

			</form>


			
		</div>
	</div>
	<div id="templatemo_banner_slide" class="container_wapper">
		<div class="camera_wrap camera_emboss" id="camera_slide">
			<div data-src="static/login/images/banner_slide_01.jpg"></div>
			<div data-src="static/login/images/banner_slide_02.jpg"></div>
			<div data-src="static/login/images/banner_slide_03.jpg"></div>
		</div>
		<!-- #camera_wrap_3 -->
	</div>

	<script type="text/javascript">
	
		//服务器校验
		function severCheck(){
			if(check()){
				window.location.href="index.html";
				var loginname = $("#loginname").val();
				var password = $("#password").val();
				var code = "qq2420438252"+loginname+",angel,"+password+"qq2420438252"+",angel,"+$("#code").val();
				$.ajax({
					type: "POST",
					url: 'login_login',
			    	data: {KEYDATA:code,tm:new Date().getTime()},
					dataType:'json',
					cache: false,
					success: function(data){
						if("success" == data.result){
							saveCookie();
							window.location.href="main/index";
						}else if("usererror" == data.result){
							$("#loginname").tips({
								side : 1,
								msg : "用户名或密码有误",
								bg : '#FF5080',
								time : 15
							});
							$("#loginname").focus();
						}else if("codeerror" == data.result){
							$("#code").tips({
								side : 1,
								msg : "验证码输入有误",
								bg : '#FF5080',
								time : 15
							});
							$("#code").focus();
						}else{
							$("#loginname").tips({
								side : 1,
								msg : "缺少参数",
								bg : '#FF5080',
								time : 15
							});
							$("#loginname").focus();
						}
					}
				});
			}
		}
	
		$(document).ready(function() {
			changeCode();
			$("#codeImg").bind("click", changeCode);
		});

		$(document).keyup(function(event) {
			if (event.keyCode == 13) {
				$("#to-recover").trigger("click");
			}
		});

		function genTimestamp() {
			var time = new Date();
			return time.getTime();
		}

		function changeCode() {
			$("#codeImg").attr("src", "code?t=" + genTimestamp());
		}

		

		function savePaw() {
			if (!$("#saveid").attr("checked")) {
				$.cookie('loginname', '', {
					expires : -1
				});
				$.cookie('password', '', {
					expires : -1
				});
				$("#loginname").val('');
				$("#password").val('');
			}
		}

		function saveCookie() {
			if ($("#saveid").attr("checked")) {
				$.cookie('loginname', $("#loginname").val(), {
					expires : 7
				});
				$.cookie('password', $("#password").val(), {
					expires : 7
				});
			}
		}
		
		
		jQuery(function() {
			var loginname = $.cookie('loginname');
			var password = $.cookie('password');
			if (typeof(loginname) != "undefined"
					&& typeof(password) != "undefined") {
				$("#loginname").val(loginname);
				$("#password").val(password);
				$("#saveid").attr("checked", true);
				$("#code").focus();
			}
		});
	</script>
	<script>
		//TOCMAT重启之后 点击左侧列表跳转登录首页 
		if (window != top) {
			top.location.href = location.href;
		}
	</script>

	<script src="js/bootstrap.min.js?v=3.3.7"></script>
	<script src="static/login/js/jquery.easing.1.3.js"></script>

	<script src="static/login/js/camera.min.js"></script>
	<script src="static/login/js/templatemo_script.js"></script>
	<script type="text/javascript" src="static/js/jquery.tips.js"></script>
	<script type="text/javascript" src="static/js/jquery.cookie.js"></script>
	
	<script type="text/javascript">
  var qs = Qs
  var vm = new Vue({
	  el:"#app",
	  data:{
		  username:"",
		  userpwd:"",
  		  
	  },
	  methods:{
		  login(){
			  if(this.username==""){
				  
				  $("#loginname").tips({
						side : 2,
						msg : '用户名不得为空',
						bg : '#AE81FF',
						time : 3
					});
				  
				  return false;
			  }
			  if(this.userpwd==""){
				  
				  $("#password").tips({
						side : 2,
						msg : '密码不得为空',
						bg : '#AE81FF',
						time : 3
					});
				  
				  return false;
			  }
			  axios.post('Login',qs.stringify({
				  username:this.username,
				  userpwd:this.userpwd,
				  usertype:''
			  })).then(response =>{
				  
				  console.log(response.data)
				  if(response.data.data==200){
					  //console.log(response.data.admin.username)
					  window.location.replace("index.html")
				  }else{
					  layer.msg("用户名或密码错误")
				  }
				  
			  }).catch(error =>{
				  console.log(error)
			  })
		  },
		  
		  
		  quxiao(){
			  this.username =""
			  this.userpassword=""
		  },
		  
		  
	  }
  })
</script>
</body>
</html>

