# 默认忽略的文件
/shelf/
/workspace.xml
# 数据源本地存储已忽略文件
/../../../../../../../../:\Users\gjc\Desktop\基于SSM的预约挂号系统242043825--石头\基于SSM的预约挂号系统242043825\hospyyghsysboot\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
