

<!DOCTYPE html>
<html style="background-color: #e2e2e2;">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="{{ lay.base.keywords }}">
  <meta name="description" content="{{ lay.base.description }}">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>医院预约挂号系统</title>
  <link rel="stylesheet" href="../res/layui/css/layui.css">
  <link rel="stylesheet" href="../res/css/global.css">
  <script type="text/javascript" src="../../axios/vue.js"></script>
  <script type="text/javascript" src="../../axios/axios.min.js"></script>
  <script type="text/javascript" src="../../axios/qs.js"></script>
  <script type="text/javascript" src="../../axios/getUrlParams.js"></script>
  <script type="text/javascript" src="../../layer/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="../../layer/layer.js"></script>
  <style>
    .header{border-bottom: 1px solid #404553; border-right: 1px solid #404553;}
    /*验证码*/

    .upload-awrp {
      overflow: hidden;
      margin: 120px 0;
    }

    .code {
      font-family: Arial;
      font-style: italic;
      font-size: 30px;
      border: 0;
      padding: 2px 3px;
      letter-spacing: 3px;
      font-weight: bolder;
      float: left;
      cursor: pointer;
      width: 150px;
      height: 31px;
      line-height: 30px;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #6D6D72;
    }
  </style>
</head>
<body class="fly-full">
<div id="app">
    <div id="headeriframe">
    </div>



    <div class="fly-main" style="overflow: hidden;">

      <div class="layui-container fly-marginTop">
        <div class="fly-panel fly-panel-user" pad20>
          <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
              <li><a href="login.html">登入</a></li>
              <li class="layui-this">注册</li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
              <div class="layui-tab-item layui-show">
                <div class="layui-form layui-form-pane">
                  <form method="post">
                    <div class="layui-form-item">
                      <label for="L_email" class="layui-form-label">用户名</label>
                      <div class="layui-input-inline">
                        <input type="text" v-model="username" required lay-verify="required" autocomplete="off" class="layui-input" @blur="validatorloginName()">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label for="L_pass" class="layui-form-label">密码</label>
                      <div class="layui-input-inline">
                        <input type="password" v-model="userpwd"  required lay-verify="required" autocomplete="off" class="layui-input">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label for="L_pass" class="layui-form-label">确认密码</label>
                      <div class="layui-input-inline">
                        <input type="password" v-model="userpwd2"  required lay-verify="required" autocomplete="off" class="layui-input">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label for="L_email" class="layui-form-label">头像</label>
                      <div class="layui-input-inline">
                        <button type="button" class="layui-btn" id="test1">上传图片</button>
                        <div class="layui-upload-list">
                          <img class="layui-upload-img" id="demo1" style="width: 200px;height: 200px">
                          <p id="demoText"></p>
                        </div>
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label for="L_email" class="layui-form-label">姓名</label>
                      <div class="layui-input-inline">
                        <input type="text" v-model="realname" required lay-verify="required" autocomplete="off" class="layui-input">
                      </div>
                    </div>
                    <div class="layui-form-item" pane="">
                      <label for="L_email" class="layui-form-label">性别</label>
                      <div class="layui-input-block">
                        <input type="radio" name="sex" v-model="sex" lay-filter="sex" value="男" title="男" checked="">
                        <input type="radio" name="sex" v-model="sex" lay-filter="sex" value="女" title="女">
                        <!--<input type="radio" name="sex" value="禁" title="禁用" disabled="">-->
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label for="L_email" class="layui-form-label">年龄</label>
                      <div class="layui-input-inline">
                        <input type="number" v-model="age" required lay-verify="required" autocomplete="off" class="layui-input">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label for="L_email" class="layui-form-label">身份证号</label>
                      <div class="layui-input-inline">
                        <input type="text" v-model="idcard" required lay-verify="required" autocomplete="off" class="layui-input">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label for="L_email" class="layui-form-label">联系电话</label>
                      <div class="layui-input-inline">
                        <input type="text" v-model="tel" required lay-verify="required" autocomplete="off" class="layui-input">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label for="L_pass" class="layui-form-label">验证码</label>
                      <div class="layui-input-inline">
                        <input type="text" v-model="yzm"  required lay-verify="required" autocomplete="off" class="layui-input">
                        <!--随机验证码-->

                      </div>
                      <div class="layui-inline">
                        <div id="check-code" style="overflow: hidden;">
                          <div class="code" id="data_code"></div>
                        </div>
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <a class="layui-btn" href="javascript:;" @click="reg()">立即注册</a>
                      <span style="padding-left:20px;">
                  <!--<a href="forget.html">忘记密码？</a>-->
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




    <div id="footiframe">
    </div>

  </div>
</div>
</body>
<script src="../res/layui/layui.js"  charset="utf-8"></script>
<script>
    var imgname = "";
  var sexname = "";
    layui.use(['form', 'layedit', 'laydate','upload'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,upload = layui.upload;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //监听多选框点击事件  主要是通过 lay-filter="sex"  来监听
        form.on('radio(sex)', function (data) {
            console.log( data );　　//打印当前选择的信息
            if( data.elem.checked){　　　　　　//判断当前多选框是选中还是取消选中
            }else{
            }
            sexname = data.value;   //  当前选中的value值
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '../../admin/uploadImg'
            ,accept:'images'
            ,size:500000
            ,before: function(obj){

                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result);
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                var demoText = $('#demoText');
                demoText.html('<span style="color: #4cae4c;">上传成功</span>');
                var fileupload = $(".image");
                fileupload.attr("value",res.data.src);
                //console.log(fileupload.attr("value"));
                imgname = res.data.src;
                console.log("imgname="+imgname);
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });


    window.onload=function(){
        $("#headeriframe").load("head.html")
        $("#footiframe").load("foot.html")
    }


    var qs = Qs
    var vmm = new Vue({
        el: '#app',
        data: {
            username:"",
            userpwd:"",
            userpwd2:"",
            img:"",
            realname:"",
            sex:"",
            age:"",
            idcard:"",
            tel:"",
            yzm:"",
        },
        mounted(){
            //this.login()
        },
        methods: {
            reg() {
                this.img = imgname;
                this.sex= sexname;
                this.data_code = document.getElementById("data_code").innerHTML
                if(this.username==""){
                    layer.msg('登录名不得为空')
                    return false;
                }
                if(this.userpwd==""){
                    layer.msg('密码不得为空')
                    return false;
                }
                if(this.userpwd2==""){
                    layer.msg('确认密码不得为空')
                    return false;
                }
                if(this.userpwd != this.userpwd2){
                    layer.msg('两次密码不一致!')
                    return false;
                }
                if(this.img == ""){
                    layer.msg('头像不能为空')
                    return false;
                }
                if(this.realname==""){
                    layer.msg('姓名不得为空')
                    return false;
                }
                if(this.age==""){
                    layer.msg('性别不得为空')
                    return false;
                }
                if(this.idcard==""){
                    layer.msg('身份证号码不得为空')
                    return false;
                }
                if(this.tel==""){
                    layer.msg('联系电话不得为空')
                    return false;
                }
                if(this.yzm==""){
                    layer.msg('验证码不得为空')
                    return false;
                }
                if(this.yzm.toLowerCase() != this.data_code.toLowerCase()){
                    layer.msg('验证码不正确 ');
                    return false;
                }
                axios.post('../../admin/memberAdd', qs.stringify({
                    username: this.username,
                    userpwd : this.userpwd,
                    filename:this.img,
                    realname:this.realname,
                    sex:this.sex,
                    age:this.age,
                    idcard:this.idcard,
                    tel:this.tel,
                    yzm: this.yzm,
                    usertype:'患者',
                })).then(response => {
                    //console.log(response.data.admin.username)
                    window.location.replace("login.html")
                }).catch(error => {
                    console.log(error)
                })
            },
            validatorloginName(){
                if(this.username!=""){
                    axios.post("../../admin/checkUsername",qs.stringify({
                        username:this.username,
                    })).then(response =>{
                        console.log(response.data)
                        if(response.data.data ==400){
                            layer.msg("登录名已存在，请更换")
                            this.username="";
                        }
                    }).catch(error =>{
                        console.log(error)
                    })
                }else{
                    layer.msg("登录名不能为空")
                }
            },
        }
    });



    /**
     * 验证码
     * @param {Object} o 验证码长度
     */
    $.fn.code_Obj = function(o) {
        var _this = $(this);
        var options = {
            code_l: o.codeLength,//验证码长度
            codeChars: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
                'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',
                'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'
            ],
            codeColors: ['#f44336', '#009688', '#cddc39', '#03a9f4', '#9c27b0', '#5e4444', '#9ebf9f', '#ffc8c4', '#2b4754', '#b4ced9', '#835f53', '#aa677e'],
            code_Init: function() {
                var code = "";
                var codeColor = "";
                var checkCode = _this.find("#data_code");
                for(var i = 0; i < this.code_l; i++) {
                    var charNum = Math.floor(Math.random() * 52);
                    code += this.codeChars[charNum];
                }
                for(var i = 0; i < this.codeColors.length; i++) {
                    var charNum = Math.floor(Math.random() * 12);
                    codeColor = this.codeColors[charNum];
                }
                console.log(code);
                if(checkCode) {
                    checkCode.css('color', codeColor);
                    checkCode.className = "code";
                    checkCode.text(code);
                    checkCode.attr('data-value', code);
                }
            }
        };

        options.code_Init();//初始化验证码
        _this.find("#data_code").bind('click', function() {
            options.code_Init();
        });
    };
    /**
     * 验证码
     * codeLength:验证码长度
     */
    $('#check-code').code_Obj({
        codeLength: 5
    });
</script>
</html>